ML_DEBUG=true
ML_WHISPER_MODEL_SIZE=base
ML_AUDIO_TMP_DIR=/tmp/parkinson_audio
ML_MODEL_PATH=./models/parkinson_model.joblib

ML_AUDIO_MIN_DURATION_SEC=1.0
ML_AUDIO_MAX_DURATION_SEC=300.0
ML_AUDIO_MIN_SAMPLE_RATE=8000
ML_AUDIO_MAX_FILE_SIZE_MB=50.0

ML_AUDIO_FFMPEG_AF=highpass=f=100

ML_AUDIO_APPLY_NOISEREDUCE=true
ML_AUDIO_NOISEREDUCE_STATIONARY=false
ML_AUDIO_NOISEREDUCE_PROP_DECREASE=0.75

ML_CORS_ORIGINS=["http://localhost:5173","http://localhost:8080","http://localhost:5678"]

ML_DB_HOST=
ML_DB_PORT=5432
ML_DB_NAME=
ML_DB_USER=
ML_DB_PASSWORD=
